*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
header, footer, .top{
    background-color: #1F2937;
    display: flex;
}
header, footer{
    justify-content: center;
    align-items: center;
}

header div,
footer div,
.top,
.alumni,
.pics{
    display: flex;
    gap:16px;
    min-width:800px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.push-left{
    margin-right: auto;
    font-size: 24px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.quote{
    background-color: #E5E7EB;
}

/* Have to adjust or mixup this css in the top*/

.details{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: white;
    justify-content: space-between;
}
.alumni{
    flex-direction: column;
}
.top img{
    width:350px;
    height: 130px;
}
.alumni img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.pics .text{
    text-align: center;
}
.top{                               
    padding: 32px;
}
.top-container{
    display: flex;
    min-width:800px;
    justify-content: space-between;
}
.title{
    font-weight: bolder;
    font-size: 32px
}
.top-container .discription{
    font-size: 12px;
}
.top-container .sign-up{
    background-color: #3882f6;
    font-weight: bold;
    color: white;
    font-size: 8px;
    width: 60px;
    padding: 5px;   
}
